.caja3 {@include flexbox (flex);background-color: $bg-color-header; padding: 20px; display: flex;justify-content: center; flex-direction: column; border-bottom:15px solid darken($bg-color-header, 25%)}
.ache2  {@include flexbox (flex);justify-content: center;color: $color-letra;  background-color: rgb(101, 78, 230); @extend %mensaje; @extend %propiedad;}

