%mensaje { border-radius: 10%;
    padding: 30px 40px}

    .error {background-color: red; @extend %mensaje;}

    .ok {background-color: green; @extend %mensaje;}

    %propiedad {justify-content: space-between; align-items: center;}

    .ache1 {@extend %propiedad;}